
body{
    background-color: black;
}

:root {
    --color-FizzBuzz: rgba(27, 114, 232, 1);
    --color-Fizz: rgb(55, 42, 151);
    --color-Buzz: rgb(22, 223, 28);
    --color-number: rgb(160, 216, 229);

}

